<div class="container footer">
    <div class="row">
        <h1>Subscribe with Us!</h1>
        <div class="col-xs-6 col-xs-offset-3 subscribe">
            <input type="text" class="form-control " placeholder="Enter Your Email Address">
            <button><span class="glyphicon glyphicon-send"></span></button>
        </div>
        <div class="col-xs-4 col-xs-offset-4 socialButton">
            <div class="col-xs-6 text-align-center"><a href=""><img src="~/Content/images/btn_facebook.png"></a></div><div class="col-xs-6 text-align-center"><a href=""><img src="~/Content/images/btn_gplus.png"></a></div>
        </div>
        <div class="col-xs-6 col-xs-offset-3 footerLinks">
            <ul><li><a href="">Home</a></li><li>|</li><li><a href="">Contact Us</a></li><li>|</li><li><a href="">Feedback</a></li><li>|</li><li><a href="">FAQ</a></li><li>|</li><li><a href="">Terms of Use</a></li><li>|</li><li><a href="">Privacy Policy</a></li></ul>
        </div>
        <div class="col-xs-6 col-xs-offset-3 copyright">
            <div class="col-xs-6 text-align-left txt">Copyright Jobs Bridge 2017. All Right Reserved</div>
            <div class="col-xs-6 text-align-right"><a href=""><img src="~/Content/images/iconFacebook.png"></a><a href=""><img src="images/iconTwitter.png"></a></div>
        </div>
    </div>
</div>

