@model  BusinessModel.AccountModel
@{
    ViewBag.Title = "UserLogin";
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JobsBridge</title>

    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    @*@Styles.Render("~/bundles/jquery")*@

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800,900" rel="stylesheet">

    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Content/js/modernizr.custom.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>



    <script type="text/javascript">
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "0px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
}


    </script>

</head>
<body>

    <div class="container tpContainer mainBGHP">
        <div class="row">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 topContainer">
                <div class="pull-left">
                    <div id="main">
                        <span style="cursor:pointer" class="glyphicon glyphicon-menu-hamburger" onclick="openNav()"></span>
                        <a href="index.html" style="cursor:pointer" class="logo_small">Jobs Bridge</a>

                    </div>
                </div>
                <div class="pull-right tpRightNav">
                    <ul>
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="loginJobSeeker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">Login</a>
                            @*<ul class="dropdown-menu pull-right" aria-labelledby="loginJobSeeker">
                                <li class="noPaddingLR">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="usr" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="pwd" placeholder="Password">
                                        </div>
                                        <div class="checkbox sf">
                                            <label><input type="checkbox"> Stay Signed In</label><a href="">Forget Password</a>
                                        </div>
                                        <a type="submit" class="btn btn-block btn-login">Login</a>
                                        <a type="submit" class="btn btn-block btn-default" href="registration.html">New User? Sign in Here</a>
                                    </div>
                                </li>
                            </ul>*@
                        </li>
                        <li><a href="#">For Employer</a></li>
                    </ul>
                </div>
            </div><!-- Top Row of Navigation -->

            <div class="col-xs-12 col-sm-12 col-md-12 headingInnerMain">
                Upload Resume On <span>JobsBridge</span> Now!
            </div><!-- logo -->

        </div>
    </div><!-- topHeader Ends -->

    <div class="container benifits registration">
        <div class="row">

            <div class="col-xs-8 col-xs-offset-2 profile_1 noPaddingLR">
                <div class="col-xs-8 rgtPanelProfile noPaddingLR">
                    <div class="registration profileInfo editinnerProfile" id="profileInfo_edit" style="display:none;">
                        <div class="form-group text-align-left">
                            <label>Name</label>
                            <input type="name" class="form-control" id="name" placeholder="Enter Full Name">
                        </div>
                        <div class="form-group text-align-left">
                            <label>Designation</label>
                            <input type="text" class="form-control" id="designation" placeholder="Designation">
                        </div>
                        <div class="form-group text-align-left">
                            <label>Resume Title</label>
                            <textarea class="form-control" rows="3" id="comment" placeholder="Enter your resume title"></textarea>
                            <label class="lbl">Example - MBA in marketing with 9 yrs of experience in account management, business development in FMCG industry</label>
                        </div>
                        <div class="col-xs-12 noPaddingLR">
                            <div class="col-xs-3 noPaddingL">
                                <div class="form-group">
                                    <span class="btn btn-default btn-file btn-block">
                                        Browse <input type="file">
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-9 text-align-left smapletxt">
                                <p>Upload your updated Resume</p>
                            </div>
                        </div>
                        <div class="col-xs-12 noPaddingLR actionButtons">
                            <div class="col-xs-6 text-align-left noPaddingL">
                                <button class="btn btn-default btn-block save" onclick="show_area('porfil_info_static'); hide_area('profileInfo_edit');">Save</button>
                            </div>
                            <div class="col-xs-6 text-align-right noPaddingR">
                                <button class="btn btn-default btn-block cancel" onclick="show_area('porfil_info_static'); hide_area('profileInfo_edit');">Cancel</button>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="profileInfo" id="porfil_info_static">
                        <a class="edit" href="javascript:void(0);" onclick="hide_area('porfil_info_static'); show_area('profileInfo_edit');"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>Edit</span></a>
                        <h1>@Model.FullName</h1>
                        <h5>Lead UI/UX Developer at Glassdoor</h5>
                        <div class="smallHeadings">Profile Completness</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">75%</div>
                        </div>
                        <div class="smallHeadings">Resume Title</div>
                        <h3>UI Designer, UI Develper, Experience 10+ years, HTML5, CSS3, Photoshop, Web Designer, Flash, Dreamweaver, Illustrator, WordPress, Magento, Bootstrap</h3>
                        <div class="col-xs-6 resumeCopy noPaddingL"><span>Resume:</span> <a href="javascript:void(0);">Ram-Kumar-Sharma.doc</a> &nbsp; <a href="javascript:void(0);" class="add"><span class="fa fa-plus"></span> Add Another Resume</a> </div>
                        <div class="col-xs-6 titleAction noPaddingR"><a href="javascript:void(0);"><span class="glyphicon glyphicon-eye-open"></span> Preview</a> <a href="javascript:void(0);"><span class="fa fa-pencil"></span> Edit</a> <a href="javascript:void(0);"><span class="fa fa-trash"></span> Delete</a></div>
                    </div><!-- profile Info -->

                    <div class="clearfix"></div>

                    <div class="profileDetail" id="profileDetail_edit" style="display:none;">
                        <h2>Profile Summary</h2>
                        <div class=" profileDetailEdit">
                            <div class="form-group currentLocation clearfix">
                                <label>Experience</label>
                                <div class="col-xs-12 noPaddingLR">
                                    <div class="dropdown ">
                                        <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Select Experience
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu8">
                                            <li><a href="javascript:void(0);">1</a></li>
                                            <li><a href="javascript:void(0);">2</a></li>
                                            <li><a href="javascript:void(0);">3</a></li>
                                            <li><a href="javascript:void(0);">4</a></li>
                                            <li><a href="javascript:void(0);">5</a></li>
                                            <li><a href="javascript:void(0);">6</a></li>
                                            <li><a href="javascript:void(0);">7</a></li>
                                            <li><a href="javascript:void(0);">8</a></li>
                                            <li><a href="javascript:void(0);">9</a></li>
                                            <li><a href="javascript:void(0);">10</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group currentLocation clearfix">
                                <label>Current Location<span>*</span></label>
                                <div class="col-xs-12 noPaddingLR">
                                    <div class="dropdown ">
                                        <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Year
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu6">
                                            <li><a href="#">New Delhi</a></li>

                                        </ul>
                                    </div>
                                    <div class="checkbox"><label><input type="checkbox" class="checkbox">Outside India</label></div>
                                </div>
                            </div>
                            <div class="form-group currentLocation clearfix">
                                <label>Functional Area</label>
                                <div class="col-xs-12 noPaddingLR">
                                    <div class="dropdown ">
                                        <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Select the Department that you Work for
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu9">
                                            <li><a href="javascript:void(0);">Account / Finance / Tax / CS / Audit</a></li>
                                            <li><a href="javascript:void(0);">Agents</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group currentLocation clearfix">
                                <label>Role</label>
                                <div class="col-xs-12 noPaddingLR">
                                    <div class="dropdown ">
                                        <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Select the Role that you Work for
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu10">
                                            <li><a href="javascript:void(0);">Account / Finance / Tax / CS / Audit</a></li>
                                            <li><a href="javascript:void(0);">Agents</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group currentLocation clearfix">
                                <label>Industry</label>
                                <div class="col-xs-12 noPaddingLR">
                                    <div class="dropdown ">
                                        <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Select Industry that you Work for
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu8">
                                            <li><a href="javascript:void(0);">Account/Finance</a></li>
                                            <li><a href="javascript:void(0);">Advertising/PR/MR/Events</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Desired Job Type</label>
                                <div class="ctm_radio">
                                    <label class="col-xs-4 btnAmPm center-aligned time-period-right"><input type="radio" name="djt" value="AM">Permanent</label>
                                    <label class="col-xs-4 btnAmPm center-aligned time-period-right"><input type="radio" name="djt" value="PM">Temporary/Contract</label><label class="col-xs-4 btnAmPm center-aligned time-period-right"><input type="radio" name="djt" value="PM">Both</label>
                                </div>
                            </div>
                            <div class="col-xs-12 noPaddingLR actionButtons">
                                <div class="col-xs-6 text-align-left noPaddingL">
                                    <button class="btn btn-default btn-block save" onclick="show_area('profileDetail_static'); hide_area('profileDetail_edit');">Save</button>
                                </div>
                                <div class="col-xs-6 text-align-right noPaddingR">
                                    <button class="btn btn-default btn-block cancel" onclick="show_area('profileDetail_static'); hide_area('profileDetail_edit');">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- profile Detail Edit -->

                    <div class="profileDetail" id="profileDetail_static">
                        <a class="edit" href="javascript:void(0);" onclick="hide_area('profileDetail_static'); show_area('profileDetail_edit');"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>Edit</span></a>
                        <h2>Profile Summary</h2>
                        <div class="col-xs-6  noPaddingR summary">
                            <h3>12 years</h3>
                            <span>Experience</span>
                        </div>
                        <div class="col-xs-6  noPaddingR summary">
                            <h3>UI Developer</h3>
                            <span>Roles</span>
                        </div>
                        <div class="col-xs-6  noPaddingR summary">
                            <h3>New York</h3>
                            <span>Current Location</span>
                        </div>
                        <div class="col-xs-6  noPaddingR summary">
                            <h3>IT</h3>
                            <span>Industry</span>
                        </div>
                        <div class="col-xs-6  noPaddingR summary">
                            <h3>UI/UX</h3>
                            <span>Function</span>
                        </div>
                        <div class="col-xs-6  noPaddingR summary">
                            <h3>Permanent</h3>
                            <span>Desired Job Type</span>
                        </div>

                    </div><!-- Profile Detail -->

                    <div class="clearfix"></div>

                    <div class="workHistory" id="workhistory_edit" style="display:none;">
                        <h2>Work History</h2>
                        <div class="form-group workHistoryEdit clearfix">
                            <label>Working Since <span>*</span></label>

                            <div class="col-xs-12 noPaddingLR margin-bottom-20">
                                <div class="col-xs-6 noPaddingL">
                                    <input type="name" class="form-control" id="name" placeholder="Job Title">
                                </div>

                                <div class="col-xs-6 noPaddingLR">
                                    <input type="name" class="form-control" id="name" placeholder="Company Name">
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-12 noPaddingLR">
                                <div class="col-xs-4 noPaddingL">
                                    <div class="dropdown ">
                                        <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Year
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu3">
                                            <li><a href="#">	1970	</a></li>
                                            <li><a href="#">	1971	</a></li>
                                            <li><a href="#">	1972	</a></li>
                                            <li><a href="#">	1973	</a></li>
                                            <li><a href="#">	1974	</a></li>
                                            <li><a href="#">	1975	</a></li>
                                            <li><a href="#">	1976	</a></li>
                                            <li><a href="#">	1977	</a></li>
                                            <li><a href="#">	1978	</a></li>
                                            <li><a href="#">	1979	</a></li>
                                            <li><a href="#">	1980	</a></li>
                                            <li><a href="#">	1981	</a></li>
                                            <li><a href="#">	1982	</a></li>
                                            <li><a href="#">	1983	</a></li>
                                            <li><a href="#">	1984	</a></li>
                                            <li><a href="#">	1985	</a></li>
                                            <li><a href="#">	1986	</a></li>
                                            <li><a href="#">	1987	</a></li>
                                            <li><a href="#">	1988	</a></li>
                                            <li><a href="#">	1989	</a></li>
                                            <li><a href="#">	1990	</a></li>
                                            <li><a href="#">	1991	</a></li>
                                            <li><a href="#">	1992	</a></li>
                                            <li><a href="#">	1993	</a></li>
                                            <li><a href="#">	1994	</a></li>
                                            <li><a href="#">	1995	</a></li>
                                            <li><a href="#">	1996	</a></li>
                                            <li><a href="#">	1997	</a></li>
                                            <li><a href="#">	1998	</a></li>
                                            <li><a href="#">	1999	</a></li>
                                            <li><a href="#">	2000	</a></li>
                                            <li><a href="#">	2001	</a></li>
                                            <li><a href="#">	2002	</a></li>
                                            <li><a href="#">	2003	</a></li>
                                            <li><a href="#">	2004	</a></li>
                                            <li><a href="#">	2005	</a></li>
                                            <li><a href="#">	2006	</a></li>
                                            <li><a href="#">	2007	</a></li>
                                            <li><a href="#">	2008	</a></li>
                                            <li><a href="#">	2009	</a></li>
                                            <li><a href="#">	2010	</a></li>
                                            <li><a href="#">	2011	</a></li>
                                            <li><a href="#">	2012	</a></li>
                                            <li><a href="#">	2013	</a></li>
                                            <li><a href="#">	2014	</a></li>
                                            <li><a href="#">	2015	</a></li>
                                            <li><a href="#">	2016	</a></li>
                                            <li><a href="#">	2017	</a></li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="col-xs-4 noPaddingLR">
                                    <div class="dropdown ">
                                        <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Month
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu4">
                                            <li><a href="#">	1970	</a></li>
                                            <li><a href="#">	1971	</a></li>
                                            <li><a href="#">	1972	</a></li>
                                            <li><a href="#">	1973	</a></li>
                                            <li><a href="#">	1974	</a></li>
                                            <li><a href="#">	1975	</a></li>
                                            <li><a href="#">	1976	</a></li>
                                            <li><a href="#">	1977	</a></li>
                                            <li><a href="#">	1978	</a></li>
                                            <li><a href="#">	1979	</a></li>
                                            <li><a href="#">	1980	</a></li>
                                            <li><a href="#">	1981	</a></li>
                                            <li><a href="#">	1982	</a></li>
                                            <li><a href="#">	1983	</a></li>
                                            <li><a href="#">	1984	</a></li>
                                            <li><a href="#">	1985	</a></li>
                                            <li><a href="#">	1986	</a></li>
                                            <li><a href="#">	1987	</a></li>
                                            <li><a href="#">	1988	</a></li>
                                            <li><a href="#">	1989	</a></li>
                                            <li><a href="#">	1990	</a></li>
                                            <li><a href="#">	1991	</a></li>
                                            <li><a href="#">	1992	</a></li>
                                            <li><a href="#">	1993	</a></li>
                                            <li><a href="#">	1994	</a></li>
                                            <li><a href="#">	1995	</a></li>
                                            <li><a href="#">	1996	</a></li>
                                            <li><a href="#">	1997	</a></li>
                                            <li><a href="#">	1998	</a></li>
                                            <li><a href="#">	1999	</a></li>
                                            <li><a href="#">	2000	</a></li>
                                            <li><a href="#">	2001	</a></li>
                                            <li><a href="#">	2002	</a></li>
                                            <li><a href="#">	2003	</a></li>
                                            <li><a href="#">	2004	</a></li>
                                            <li><a href="#">	2005	</a></li>
                                            <li><a href="#">	2006	</a></li>
                                            <li><a href="#">	2007	</a></li>
                                            <li><a href="#">	2008	</a></li>
                                            <li><a href="#">	2009	</a></li>
                                            <li><a href="#">	2010	</a></li>
                                            <li><a href="#">	2011	</a></li>
                                            <li><a href="#">	2012	</a></li>
                                            <li><a href="#">	2013	</a></li>
                                            <li><a href="#">	2014	</a></li>
                                            <li><a href="#">	2015	</a></li>
                                            <li><a href="#">	2016	</a></li>
                                            <li><a href="#">	2017	</a></li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="col-xs-1 moneyname">
                                    to
                                </div>
                                <div class="col-xs-3 noPaddingLR">
                                    <div class="dropdown">
                                        <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Select
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                                            <li><a href="#">	1970	</a></li>
                                            <li><a href="#">	1971	</a></li>
                                            <li><a href="#">	1972	</a></li>
                                            <li><a href="#">	1973	</a></li>
                                            <li><a href="#">	1974	</a></li>
                                            <li><a href="#">	1975	</a></li>
                                            <li><a href="#">	1976	</a></li>
                                            <li><a href="#">	1977	</a></li>
                                            <li><a href="#">	1978	</a></li>
                                            <li><a href="#">	1979	</a></li>
                                            <li><a href="#">	1980	</a></li>
                                            <li><a href="#">	1981	</a></li>
                                            <li><a href="#">	1982	</a></li>
                                            <li><a href="#">	1983	</a></li>
                                            <li><a href="#">	1984	</a></li>
                                            <li><a href="#">	1985	</a></li>
                                            <li><a href="#">	1986	</a></li>
                                            <li><a href="#">	1987	</a></li>
                                            <li><a href="#">	1988	</a></li>
                                            <li><a href="#">	1989	</a></li>
                                            <li><a href="#">	1990	</a></li>
                                            <li><a href="#">	1991	</a></li>
                                            <li><a href="#">	1992	</a></li>
                                            <li><a href="#">	1993	</a></li>
                                            <li><a href="#">	1994	</a></li>
                                            <li><a href="#">	1995	</a></li>
                                            <li><a href="#">	1996	</a></li>
                                            <li><a href="#">	1997	</a></li>
                                            <li><a href="#">	1998	</a></li>
                                            <li><a href="#">	1999	</a></li>
                                            <li><a href="#">	2000	</a></li>
                                            <li><a href="#">	2001	</a></li>
                                            <li><a href="#">	2002	</a></li>
                                            <li><a href="#">	2003	</a></li>
                                            <li><a href="#">	2004	</a></li>
                                            <li><a href="#">	2005	</a></li>
                                            <li><a href="#">	2006	</a></li>
                                            <li><a href="#">	2007	</a></li>
                                            <li><a href="#">	2008	</a></li>
                                            <li><a href="#">	2009	</a></li>
                                            <li><a href="#">	2010	</a></li>
                                            <li><a href="#">	2011	</a></li>
                                            <li><a href="#">	2012	</a></li>
                                            <li><a href="#">	2013	</a></li>
                                            <li><a href="#">	2014	</a></li>
                                            <li><a href="#">	2015	</a></li>
                                            <li><a href="#">	2016	</a></li>
                                            <li><a href="#">	2017	</a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <a href="javascript:void(0)">+ add more</a>

                            <div class="col-xs-12 noPaddingLR actionButtons">
                                <div class="col-xs-6 text-align-left noPaddingL">
                                    <button class="btn btn-default btn-block save" onclick="show_area('workhistory_static'); hide_area('workhistory_edit');">Save</button>
                                </div>
                                <div class="col-xs-6 text-align-right noPaddingR">
                                    <button class="btn btn-default btn-block cancel" onclick="show_area('workhistory_static'); hide_area('workhistory_edit');">Cancel</button>
                                </div>
                            </div>
                        </div>


                    </div><!-- Work History edit -->

                    <div class="workHistory" id="workhistory_static">
                        <a class="edit" href="javascript:void(0);" onclick="hide_area('workhistory_static'); show_area('workhistory_edit');"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>Edit</span></a>
                        <h2>Work History</h2>
                        <div class="col-xs-6  noPaddingR whContent">
                            <h3>Lead UI/UX Developer</h3>
                            <span>at Rabbler from Dec,2016 to Feb, 2017</span>
                        </div>
                        <div class="col-xs-6  noPaddingR summary whContent">
                            <h3>Web Designer</h3>
                            <span>at Revolution Forever Technologies from June,2015 to Nov, 2016</span>
                        </div>

                    </div><!-- Work History -->

                    <div class="clearfix"></div>

                    <div class="education" id="education_edit" style="display:none;">
                        <h2>Education</h2>
                        <div class="educationEdit">
                            <div class="form-group currentLocation clearfix">
                                <label>Highest Qualification</label>
                                <div class="col-xs-12 noPaddingLR">
                                    <div class="dropdown ">
                                        <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Select your highest qualification
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu6">
                                            <li><a href="javascript:void(0);">Doctorate/Phd</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group currentLocation clearfix">
                                <label>Course</label>
                                <div class="col-xs-12 noPaddingLR">
                                    <div class="dropdown ">
                                        <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Select your Course
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu6">
                                            <li><a href="javascript:void(0);">New Delhi</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group currentLocation clearfix">
                                <label>Specialization</label>
                                <div class="col-xs-12 noPaddingLR">
                                    <div class="dropdown ">
                                        <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Select Specialization
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu6">
                                            <li><a href="javascript:void(0);">New Delhi</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>University/College</label>
                                <input type="email" class="form-control" id="email" placeholder="Institute Name">
                            </div>

                            <div class="form-group">
                                <label>Course Type</label>
                                <div class="ctm_radio">
                                    <label class="col-xs-4 btnAmPm center-aligned time-period-right"><input type="radio" name="optradio" value="AM">Full Time</label>
                                    <label class="col-xs-4 btnAmPm center-aligned time-period-right"><input type="radio" name="optradio" value="PM">Part Time</label><label class="col-xs-4 btnAmPm center-aligned time-period-right"><input type="radio" name="optradio" value="PM">Correspondence</label>
                                </div>
                            </div>

                            <div class="form-group currentLocation clearfix">
                                <label>Passing Year</label>
                                <div class="col-xs-12 noPaddingLR">
                                    <div class="dropdown ">
                                        <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Select
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu7">
                                            <li><a href="javascript:void(0);">2021</a></li>
                                            <li><a href="javascript:void(0);">2020</a></li>
                                            <li><a href="javascript:void(0);">2019</a></li>
                                            <li><a href="javascript:void(0);">2018</a></li>
                                            <li><a href="javascript:void(0);">2017</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-xs-12 noPaddingLR actionButtons">
                                <div class="col-xs-6 text-align-left noPaddingL">
                                    <button class="btn btn-default btn-block save" onclick="show_area('education_static'); hide_area('education_edit');">Save</button>
                                </div>
                                <div class="col-xs-6 text-align-right noPaddingR">
                                    <button class="btn btn-default btn-block cancel" onclick="show_area('education_static'); hide_area('education_edit');">Cancel</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div><!-- Education Edit -->

                    <div class="education" id="education_static">
                        <a class="edit" href="javascript:void(0);" onclick="hide_area('education_static'); show_area('education_edit');"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>Edit</span></a>
                        <h2>Education</h2>
                        <div class="col-xs-6 noPaddingR education_Content">
                            <h3>M-Tech</h3>
                            <span>from Amity University, Noida in 2015</span>
                        </div>
                        <div class="col-xs-6 noPaddingR education_Content">
                            <h3>B-Tech</h3>
                            <span>from Amity University, Noida in 2012</span>
                        </div>

                    </div><!-- Work History -->

                </div><!-- Left Panel Info -->

                <div class="col-xs-4 lftPanelProfile noPaddingLR">
                    <div class="personalInfo personalEdit" id="profileimgcomp_edit" style="display:none;">
                        <h2>Personal Information</h2>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" id="company" placeholder="Company Name">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Mobile</label>
                            <input type="phone" class="form-control" id="phone" placeholder="Mobile">
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-xs-12 noPaddingLR actionButtons">
                            <div class="col-xs-6 text-align-left noPaddingL">
                                <button class="btn btn-default btn-block save" onclick="show_area('profileimgcomp_static'); show_area('profileimgcomp2_static'); hide_area('profileimgcomp_edit');">Save</button>
                            </div>
                            <div class="col-xs-6 text-align-right noPaddingR">
                                <button class="btn btn-default btn-block cancel" onclick="show_area('profileimgcomp_static'); show_area('profileimgcomp2_static');  hide_area('profileimgcomp_edit');">Cancel</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>

                    <div class="profilImage" id="profileimgcomp_static">
                        <a class="edit_right" href="javascript:void(0);" onclick="hide_area('profileimgcomp_static'); hide_area('profileimgcomp2_static');  show_area('profileimgcomp_edit');"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>Edit</span></a>                      
                        <img src="~/Content/images/profile_picture_2.png" />
                    </div><!-- Profile Image-->

                    <div class="personalInfo" id="profileimgcomp2_static">
                        <ul>
                            <li class="piCompany"><span class="glyphicon glyphicon-globe"></span>xyx@gmail.com</li>
                            <li class="piMobile"><span class="glyphicon glyphicon-phone"></span>@Model.MobileNumber</li>
                            <li class="piEmail"><span class="glyphicon glyphicon-send"></span>@Model.EmailID</li>
                        </ul>
                    </div><!-- Personal Info -->

                    <div class="personalSkills" id="personal_skills_edit" style="display:none;">
                        <h2>Skills</h2>
                        <div class="personalSkillsEdit">
                            <div class="form-group currentLocation clearfix">
                                <div class="col-xs-12 noPaddingLR">
                                    <p>Mention all the important programming languages and softwares Example : MS Word, Excel etc</p>
                                    <div class="clearfix"></div>
                                    <div class="itSkills">
                                        <div class="col-xs-4 noPaddingLR">
                                            <label>Skills</label>
                                            <input type="email" class="form-control skillinput" id="skill" placeholder="Name">
                                        </div>
                                        <div class="col-xs-2 noPaddingLR">
                                            <label>Version</label>
                                            <input type="email" class="form-control versioninput" id="version" placeholder="No.">
                                        </div>
                                        <div class="col-xs-3 noPaddingLR">
                                            <label>Year</label>
                                            <div class="dropdown ">
                                                <button class="btn btn-block btn-default dropdown-toggle text-align-left yearbutton" type="button" id="dropdownMenu11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Year
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu11">
                                                    <li><a href="javascript:void(0);">2009</a></li>
                                                    <li><a href="javascript:void(0);">2010</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-xs-3 noPaddingLR">
                                            <label>Experience</label>
                                            <div class="dropdown ">
                                                <button class="btn btn-block btn-default dropdown-toggle text-align-left expbutton" type="button" id="dropdownMenu12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Exp
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu12">
                                                    <li><a href="javascript:void(0);">5</a></li>
                                                    <li><a href="javascript:void(0);">10</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <a href="javascript:void(0)">+ add more skills</a>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-xs-12 noPaddingLR actionButtons">
                                <div class="col-xs-6 text-align-left noPaddingL">
                                    <button class="btn btn-default btn-block save" onclick="show_area('personal_skills_static'); hide_area('personal_skills_edit');">Save</button>
                                </div>
                                <div class="col-xs-6 text-align-right noPaddingR">
                                    <button class="btn btn-default btn-block cancel" onclick="show_area('personal_skills_static'); hide_area('personal_skills_edit');">Cancel</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>

                    </div>

                    <div class="personalSkills" id="personal_skills_static">
                        <a class="edit_right" href="javascript:void(0);" onclick="hide_area('personal_skills_static'); show_area('personal_skills_edit');"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>Edit</span></a>
                        <h2>Skills</h2>
                        <span class="blockcol">HTML 5</span>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>


                        <span class="blockcol">CSS 3</span>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>


                        <span class="blockcol">JQUERY</span>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>


                        <span class="blockcol">Magento</span>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>


                        <span class="blockcol">Angular</span>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>


                    </div><!-- Skills -->

                    <div class="clearfix"></div>

                    <div class="personalOtherInfo" id="other_info_edit" style="display:none;">
                        <h2>Other Details</h2>
                        <div class="personalOtherInfoEdit">
                            <div class="form-group currentLocation clearfix">
                                <label>Date of Birth</label>
                                <div class="col-xs-12 noPaddingLR">
                                    <div class="dob">

                                        <div class="col-xs-4 noPaddingLR">
                                            <label>Year</label>
                                            <div class="dropdown ">
                                                <button class="btn btn-block btn-default dropdown-toggle text-align-left yearbuttondob" type="button" id="dropdownMenu13" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Year
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu13">
                                                    <li><a href="javascript:void(0);">2009</a></li>
                                                    <li><a href="javascript:void(0);">2010</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-xs-4 noPaddingLR">
                                            <label>Month</label>
                                            <div class="dropdown ">
                                                <button class="btn btn-block btn-default dropdown-toggle text-align-left monthbuttondob" type="button" id="dropdownMenu14" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Month
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu14">
                                                    <li><a href="javascript:void(0);">Jan</a></li>
                                                    <li><a href="javascript:void(0);">Feb</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-xs-4 noPaddingLR">
                                            <label>Day</label>
                                            <div class="dropdown ">
                                                <button class="btn btn-block btn-default dropdown-toggle text-align-left daybutton" type="button" id="dropdownMenu15" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Day
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu15">
                                                    <li><a href="javascript:void(0);">1</a></li>
                                                    <li><a href="javascript:void(0);">2</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Gender</label>
                                <div class="ctm_radio">
                                    <label class="col-xs-6 btnAmPm center-aligned time-period-right"><input type="radio" name="gender" value="AM">Male</label>
                                    <label class="col-xs-6 btnAmPm center-aligned time-period-right"><input type="radio" name="gender" value="PM">Female</label>
                                </div>
                            </div>

                            <div class="form-group currentLocation clearfix">
                                <label>Martial Status</label>
                                <div class="col-xs-12 noPaddingLR">
                                    <div class="dropdown ">
                                        <button class="btn btn-block btn-default dropdown-toggle text-align-left" type="button" id="dropdownMenu16" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Select
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenu16">
                                            <li><a href="javascript:void(0);">Single/Unmarried</a></li>
                                            <li><a href="javascript:void(0);">Married</a></li>
                                            <li><a href="javascript:void(0);">Widowed</a></li>
                                            <li><a href="javascript:void(0);">Divorced</a></li>
                                            <li><a href="javascript:void(0);">Separated</a></li>
                                            <li><a href="javascript:void(0);">Other</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Mailing Address</label>
                                <textarea class="form-control" rows="3" id="comment" placeholder="Enter the address where you are actually living"></textarea>

                                <div class="mailing noPaddingLR">
                                    <div class="col-xs-8 noPaddingL">
                                        <label>City</label>
                                        <input type="email" class="form-control versioninput" id="city">
                                    </div>
                                    <div class="col-xs-4 noPaddingR">
                                        <label>Pincode</label>
                                        <input type="email" class="form-control versioninput" id="Pincode">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="form-group">
                                <label>Differently Abled</label>
                                <div class="ctm_radio">
                                    <label class="col-xs-6 btnAmPm center-aligned time-period-right"><input type="radio" name="differently_abled" value="AM">Yes</label>
                                    <label class="col-xs-6 btnAmPm center-aligned time-period-right"><input type="radio" name="differently_abled" value="PM">No</label>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-xs-12 noPaddingLR actionButtons">
                                <div class="col-xs-6 text-align-left noPaddingL">
                                    <button class="btn btn-default btn-block save" onclick="show_area('other_info_static'); hide_area('other_info_edit');">Save</button>
                                </div>
                                <div class="col-xs-6 text-align-right noPaddingR">
                                    <button class="btn btn-default btn-block cancel" onclick="show_area('other_info_static'); hide_area('other_info_edit');">Cancel</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <div class="personalOtherInfo" id="other_info_static">
                        <a class="edit_right" href="javascript:void(0);" onclick="hide_area('other_info_static'); show_area('other_info_edit');"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>Edit</span></a>
                        <h2>Other Details</h2>
                        <div class="od"><span>Gender</span>Male</div>
                        <div class="od"><span>DOB</span>25 sept 1983</div>
                        <div class="od"><span>Category</span>Not Specified</div>
                        <div class="od"><span>Disability</span>No</div>


                    </div><!-- Other Details -->

                </div><!-- right Panel Info -->

            </div>
        </div>
    </div><!-- Registration Process Ends -->

    <div class="container footer">
        <div class="row">
            <h1>Subscribe with Us!</h1>
            <div class="col-xs-6 col-xs-offset-3 subscribe">
                <input type="text" class="form-control " placeholder="Enter Your Email Address">
                <button><span class="glyphicon glyphicon-send"></span></button>
            </div>
            <div class="col-xs-4 col-xs-offset-4 socialButton">
               
                <div class="col-xs-6 text-align-center"><a href=""><img src="~/Content/images/btn_facebook.png"></a></div><div class="col-xs-6 text-align-center"><a href=""><img src="images/btn_gplus.png"></a></div>
            </div>
            <div class="col-xs-6 col-xs-offset-3 footerLinks">
                <ul><li><a href="">Home</a></li><li>|</li><li><a href="">Contact Us</a></li><li>|</li><li><a href="">Feedback</a></li><li>|</li><li><a href="">FAQ</a></li><li>|</li><li><a href="">Terms of Use</a></li><li>|</li><li><a href="">Privacy Policy</a></li></ul>
            </div>
            <div class="col-xs-6 col-xs-offset-3 copyright">
                <div class="col-xs-6 text-align-left txt">Copyright Jobs Bridge 2017. All Right Reserved</div>
                <div class="col-xs-6 text-align-right"><a href=""><img src="images/iconFacebook.png"></a><a href=""><img src="images/iconTwitter.png"></a></div>
            </div>
        </div>
    </div>

    <script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "0px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
}

// for browseJobs button
$("#animate").click(function() {
	$("#content").animate(
			{"width": "450px"},
			"fast");
});


// For show - hide

 function show_area( show_area_id )
{

	if(!document.getElementById(show_area_id))
			return;
	document.getElementById(show_area_id).style.display = '';

	setTimeout(function(){
		jQuery('#success').fadeOut(100);
		}, 2000);
}
function hide_area( hide_area_id )
{
	document.getElementById(hide_area_id).style.display = 'none';
}

function show_hide( show_hide_id )
{

	if ( (document.getElementById(show_hide_id).style.display) && (document.getElementById(show_hide_id).style.display == 'none') )
	{
		show_area(show_hide_id);
	}
	else
	{
		hide_area(show_hide_id);
	}
}

$("input[type=radio]").click(function() {
	name=$(this).attr('name');;
	$("input[name="+name+"]").parent().removeClass('btnAmPm_selected');
	$(this).parent().addClass("btnAmPm_selected");

});

//  for Carousel
$(document).ready(function() {
  $('#media').carousel({
    pause: true,
    interval: false,
  });
});
    </script>


</body>
</html>






